.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.journal-form__title {
    border: none;
    background: #272727;
    font-size: 2rem;
    border-bottom: 1px solid #272727;
    color: white;
    width: 100%;
}

.journal-form__labels {
    display: flex;
    align-items: center;
    gap: 20px;
}

.journal-form__row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.journal-form_invalid {
    border: 1px solid red !important;
    color: rgb(161, 38, 38) !important;
}

.journal-form__textarea {
    width: 100%;
    border: none;
    border-radius: 8px;
    background: #272727;
    color: white;
    padding: 8px 12px;
}

.journal-form__btn {
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    background: #272727;
    cursor: pointer;
    transition: background 0.3s;
}

.journal-form__btn:hover {
    background: #333333;
}

.journal-form__img {
    width: 1rem;
    max-width: 100%;
}